<div class="main-container">
  <!-- Contenedor del juego -->
  <div class="game-container">
    <!-- Contenedor del título -->
    <div class="title-container">
      <h1>Ahorcado</h1>
    </div>
    <!-- Temporizador -->
    <div class="timer">
      <h1>00:{{ timeRemaining < 10 ? "0" + timeRemaining : timeRemaining }}</h1>
    </div>

    <!-- Contenedor de la palabra -->
    <div class="word-container">
      <span *ngFor="let letter of displayedWord" class="letter">{{
        letter
      }}</span>
    </div>

    <!-- Contenedor del teclado -->
    <div class="keyboard">
      <button
        *ngFor="let letter of alphabet"
        [class.disabled]="disabledLetters.includes(letter)"
        (click)="guessLetter(letter)"
        class="key"
      >
        {{ letter }}
      </button>
    </div>

    <!-- Contenedor del status -->
    <div class="status">
      <p>Intentos restantes: {{ remainingAttempts }}</p>
    </div>
  </div>

  <!-- Contenedor de la imagen del ahorcado -->
  <div class="hangman-container">
    <img [src]="hangmanImage" alt="Hangman Progress" />
  </div>
</div>
