<div class="quien-soy-container">
    <h1>Quién Soy</h1>

    <div class="personal-info">
        <h2>Datos Personales</h2>
        <ul>
            <li><strong>Nombre:</strong> Agustin</li>
            <li><strong>Legajo:</strong> 114456</li>
        </ul>
    </div>

    <div class="profile-image">
        <img src="public/favicon.ico" alt="Foto del alumno">
    </div>

    <div class="game-description">
        <h2>Mi Juego Propio</h2>
        <p>
            Todavia no decidi que juego voy a desarrollar
        </p>
    </div>
</div>