.quien-soy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3%;
  opacity: 0;
  transform: scale(0.95);
  animation: popIn 0.8s forwards;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-30px);
  animation: slideInDown 0.6s 0.2s forwards;
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.personal-info {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideInDown 0.6s 0.4s forwards;
}

.personal-info h2 {
  margin-bottom: 10px;
  color: #fff;
}

.personal-info ul {
  list-style: none;
  padding: 0;
}

.personal-info li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.profile-image {
  margin-top: 20px;
  opacity: 0;
  transform: rotateX(-90deg);
  animation: rotateIn 0.6s 0.6s forwards;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.game-description {
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.6;
  text-align: justify;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s 0.8s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-description h2 {
  margin-bottom: 10px;
  color: #fff;
}
