<div class="home-container">
  <h1>Bienvenido a Sala de Juegos</h1>

  <!-- Mensaje si el usuario no está logueado -->
  <div *ngIf="!logueado" class="mensaje-login">
    <p>Por favor, inicie sesión para acceder a los juegos.</p>
  </div>

  <div *ngIf="logueado" class="button-group">
    <a routerLink="/games/ahorcado" class="button-card">
      <img
        src="assets/iconoJuegos/ahorcado.png"
        alt="Ahorcado"
        class="button-image"
      />
      <div class="button-text">Ahorcado</div>
    </a>
    <a routerLink="/games/mayor-menor" class="button-card">
      <img
        src="assets/iconoJuegos/mayorMenor.png"
        alt="Mayor o Menor"
        class="button-image"
      />
      <div class="button-text">Mayor o Menor</div>
    </a>
    <a routerLink="/games/preguntados" class="button-card">
      <img
        src="assets/iconoJuegos/preguntados.png"
        alt="Preguntados"
        class="button-image"
      />
      <div class="button-text">Preguntados</div>
    </a>
    <a routerLink="/games/juego-adicional" class="button-card">
      <img
        src="assets/iconoJuegos/propio.png"
        alt="Juego Adicional"
        class="button-image"
      />
      <div class="button-text">Juego Adicional</div>
    </a>
  </div>
</div>
