<div class="main-container">
  <div class="game-container">
    <div class="title-container">
      <h1>Preguntados</h1>
    </div>

    <div *ngIf="preguntaActual">
      <div>
        <img
          [src]="'assets/preguntados/P' + preguntaActual.category + '.png'"
          alt="Pregunta"
          class="img-fluid imagen-ajustada"
        />
      </div>

      <div class="pregunta">
        <h3>{{ preguntaActual.question }}</h3>
      </div>

      <div class="opciones">
        <button
          *ngFor="let option of preguntaActual.options"
          [ngClass]="{
            correct: respuestaSeleccionada && esCorrecta(option),
            incorrect:
              respuestaSeleccionada &&
              !esCorrecta(option) &&
              respuestaSeleccionada === option,
            default: !respuestaSeleccionada
          }"
          (click)="seleccionarOpcion(option)"
        >
          {{ option }}
        </button>
      </div>

      <div class="status">
        <p>Puntos: {{ puntos }}</p>
        <p>Vidas: {{ vidas }}</p>
      </div>
    </div>
  </div>
</div>
