<div class="contenedor-juego">
  <div class="titulo">
    <h1>Mayor o Menor</h1>
  </div>

  <div class="vidas">
    <img
      [ngStyle]="{ opacity: vidas >= 1 ? 1 : 0.2 }"
      src="assets/mayorMenor/corazon.png"
      class="corazon"
    />
    <img
      [ngStyle]="{ opacity: vidas >= 2 ? 1 : 0.2 }"
      src="assets/mayorMenor/corazon.png"
      class="corazon"
    />
    <img
      [ngStyle]="{ opacity: vidas >= 3 ? 1 : 0.2 }"
      src="assets/mayorMenor/corazon.png"
      class="corazon"
    />
  </div>

  <div class="contenedor-principal">
    <div class="contenedor-cartas">
      <div class="carta">
        <img
          [src]="imagenCarta + cartaActual.palo + cartaActual.valor + '.png'"
          alt="Carta actual"
          class="imagen-carta"
        />
      </div>
    </div>

    <div class="contenedor-botones">
      <button
        class="btn-mayor"
        (click)="adivinar(true)"
        [disabled]="juegoTerminado"
      >
        Mayor
      </button>
      <button
        class="btn-menor"
        (click)="adivinar(false)"
        [disabled]="juegoTerminado"
      >
        Menor
      </button>
    </div>
  </div>

  <div class="contador-puntos">
    Puntuacion: <span>{{ puntuacion }}</span>
  </div>
</div>
